$loader-main-color: #fff;
$loader-color: #1867c0;
$loader-back-color: #86b1e1;
$loader-time: 3s;
$loader-size: 4px;

$checkbox-background: #fff;
$checkbox-border: #e900ff;
$checkbox-checked: $checkbox-border;